@charset "utf-8";
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 영어폰트 */
.en{font-family: "Public Sans", sans-serif;}
.en2{font-family: "Cormorant Infant", serif;}

/* 규칙 */
/* .text {height: 2000px; color: #000;} */
.bd {font-weight: bolder;} 
.bt {margin-bottom: 10px;}
/* layout */
body {font-family: "Noto Sans", sans-serif; font-size: 16px; line-height: 1.6; box-sizing: border-box; overflow-x: hidden;}
.wrap {position: relative; margin: 0 auto; overflow: hidden; color: rgb(28, 43, 60);  margin-bottom: 3000px;}
/* section {border: 3px solid red;} */

/* header */
header {width: 100%; position: fixed; left: 0; top: 0; background: rgb(28, 43, 60); z-index: 100; padding: 30px 60px; box-sizing: border-box; display: flex; justify-content: space-between;}
header.active {transform: translateY(-100%);}
header .logo{color:#fff;}
header .menuOpen {display: none; transition: 0.3s;}
.gnb ul {display: flex; justify-content: space-between;}
.gnb ul li {margin-left: 70px;}
.gnb ul li a {display: block;}

/* gnb 호버효과 */
.gnb ul li a .char {display: inline-block; position: relative; color: transparent; overflow: hidden;}
.gnb ul li a .char:before, .gnb ul li a .char:after {position: absolute; top: 0; left: 0; opacity: 0.8; color: #fff; content: attr(data-char); transition: transform 0.35s; transition-delay: calc(30ms * var(--char-index));}

.gnb ul li a .char:before {transform: translateY(100%);}
.gnb ul li a:hover .char:before {transform: translateY(0%); opacity: 1;}
.gnb ul li a:hover .char:after {transform: translateY(-100%); opacity: 0;}

/* visual, circle */
.visual .circle {position: absolute; bottom: 0; right: 60px; width: 300px; height: 300px;  border-radius: 100%; background: url('../images/profile/ghibli-profile.jpeg') no-repeat center; background-size: cover;}
.visual .circle .signBox{width: 100%; height: 100%; position: relative;}

.visual {width: 100%; padding-top: 125px; box-sizing: border-box; position: relative; letter-spacing: -1px; color: #1c2b3c;}
.visual .mainText {font-size: 96px; font-weight: 400; line-height: 1.2; margin: 0px 0px 150px 60px; display: inline-block;}
.visual .mainText p {overflow: hidden;}
.visual .subText {margin-left: 20%;}
.visual .svgAni {position: absolute; top: 23%; left: 10%; width: 40%; transform: rotate(-10deg);}

/* animation */
.visual.motion .mainText {transform: translate3d(0,0,0) skewY(0deg); overflow:hidden;}
.visual.motion .mainText p span {display: block; animation-name: textAni; animation-duration: 1.8s;}
.visual.motion .mainText p:nth-child(2) span {animation-duration: 1.7s;}
.visual.motion .mainText p:nth-child(3) span {animation-duration: 1.5s;}

@keyframes textAni{
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top left;}
}

@keyframes textAni2{
    0% {opacity: 0;}
    30% {opacity: 0;}
}

.visual.motion .subText {animation-name: textAni2; animation-duration: 2.3s;}

/* 
svg 모션 
 - stroke-dasharray => 점선을 만들어주는 속성
 - stroke-dashoffset => 애니메이션을 어디서부터 시작할 것인지 정해주는 속성
 - animation => 애니명 진행시간 진행속도 딜레이 진행방향순으로 작성 
 */

 .visual.motion #svgAni01 {stroke-dasharray: 4914; stroke-dashoffset: 4914; animation: ani1 2s linear 1s forwards;}
 .visual.motion #svgAni02 {stroke-dasharray: 180; stroke-dashoffset: 180; animation: ani2 0.5s linear 3.0s forwards;}


 @keyframes ani1{
    0% {stroke-dashoffset: 4914;}
    100% {stroke-dashoffset: 0;}
}

@keyframes ani2{
    0% {stroke-dashoffset: 180;}
    100% {stroke-dashoffset: 0;}
}

/* text 배너 */

.text-banner{position: relative; color : #FFB84D; font-size: 64px; text-wrap: nowrap; padding: 40px 0;}
.text-banner ul {white-space: nowrap; display: inline-block;}
.text-banner ul li { margin: 20px 50px;}

/* simplyScroll */
.simply-scroll .simply-scroll-clip {overflow: hidden;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li {float: left; width: 250px;}

/* intro */

.intro{display: flex; flex-direction: column; justify-content: center; align-items: center; height: 650px; background: rgb(28, 43, 60); color: #fff; font-weight: bolder; font-size: 96px;}
.intro-detail {height: 650px;}

/* about */
.about{position: relative; height: 850px; background-color: #1c2b3c; color: #A9BCD0; padding: 40px 40px }
.about .about-title {font-size: 64px; position: absolute; top: 40px; left: 40px;}
.about .about-circle {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 400px; height: 400px; border-radius: 100%; background-color: #A9BCD0; z-index: 2; background: url("../images/profile/profile.jpeg") no-repeat; background-size: cover; background-position: 0% 15%;}
.about .about-circle-wt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 480px; height: 480px; border-radius: 100%; background-color: rgb(28, 43, 60); z-index: 1;}

.about-content-line{width: 94.5%; position: absolute; top: 32%; transform: translateY(-50%); height: 1px; background-color: #A9BCD0;}
.about-content {position: absolute; font-size: 32px; top: 39%; transform: translateY(-50%);}
.about-content.rg {position: absolute; font-size: 32px; top: 36.1%; right: 5%; transform: translateY(-50%);}
.about-content.lt {position: absolute; font-size: 32px; top: 77%; transform: translateY(-50%);}
.about-content.rt {width: 267px; position: absolute; font-size: 32px; top: 72%; right: 5%; transform: translateY(-50%);}

.about-content-line-bt{width: 94.5%; position: absolute; bottom: 32%; transform: translateY(-50%); height: 1px; background-color: #A9BCD0;}

.about-content p{font-size: 24px;}

/* about ani */
#about-0 {opacity: 0;}


/* skills */
.skill {padding: 40px; height: 120vh; background-color: #A9BCD0; position: relative;}
.skill-title { font-size: 64px; font-weight: bolder; margin-bottom: 80px;}

.skillBox {margin: auto; width: 900px; height: 800px; display: flex; flex-wrap: wrap; }
.card-container {perspective: 1000px; position: relative; width: 200px; height: 200px; margin-right: 100px;}
.card {width: 100%; height: 100%; position: absolute; transform-style: preserve-3d; transition: transform 0.6s;}
.card-container:hover .card { transform: rotateY(180deg); }  

.side { position: absolute; width: 100%; height: 100%; backface-visibility: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 18px; font-weight: bold; border-radius: 10px; text-align: center; padding: 15px; }  

.side.front span {font-size: 26px;}

.front { background: #1c2b3c; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); color: #a9bcd0; }  

.back { background: #1c2b3c; color: #fff; transform: translateX(-30px) rotateY(180deg); border: 2px solid #fff;}  
.back p:nth-child(1){font-size: 26px;}

/* Circular Progress Bar */  
.progress-circle { position: relative; width: 120px; height: 120px; margin-top: 10px; }  
.progress-circle svg { width: 100%; height: 100%; }  
.progress-circle circle { fill: none; stroke-width: 10; stroke-linecap: round; }  
.progress-circle .bg { stroke: #fff; }  
.progress-circle .bar { stroke: #a9bcd0; stroke-dasharray: 314; stroke-dashoffset: 314; transition: stroke-dashoffset 1s ease-in-out; }  
.percentage { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; font-weight: bold; color: #a9bcd0; }

/* 나의 포트폴리오 */
.pf-st {margin: 0 auto; position: relative; overflow: hidden; background: #1c2b3c;}
.pf-st img, .pf-st video {filter: brightness(90%);}

/* pf visual */
.pf-visual {position: relative; padding: 0; overflow: hidden;}
.pf-visual img, .pf-st video {width: 100%;}
.pf-visual h1 {font-size: 9vw; color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 60%; font-weight: 400; line-height: 1.2; opacity: 0;}
.pf-visual h1 span {display: block; letter-spacing: -2px; font-size: 6vw; font-weight: bolder; -webkit-text-stroke: 2px #d4af37; color: transparent} 
.pf-visual h1 p {font-size: 6vw;}


/* pf 소개 */

.infoProject .inner, .concept .inner {width: 80%; margin: 0 auto;}

.infoProject {padding: 50px 0;}
.infoProject .inner {display: flex; justify-content: space-between; flex-wrap: wrap;} 
.infoProject .inner .imgBox {width: 70%;}
.infoProject .inner .imgBox img {width: 100%;}

.infoProject .inner .textBox {width: 25%;}
.infoProject .inner .textBox span {display: block; line-height: 1.6; color: #fff;}
.infoProject .inner .textBox span.title {color: #b1dd40; font-weight: 500; text-transform: uppercase;}
.infoProject .inner .textBox .text {margin-bottom: 30px;}

/* concept */
.concept {padding: 50px 0 100px 0;}
.concept ul {display: flex; justify-content: space-between; flex-wrap: wrap;}
.concept ul li {width: 28%; margin-top: 200px;}
.concept ul li:nth-child(2n) {margin-top: 0;}
.concept ul li img {width: 100%;}

.concept ul.size {margin-top: 150px;}
.concept ul.size li:nth-child(1) {width: 32%; margin-left: 20%;}
.concept ul.size li:nth-child(2) {width: 40%; margin-top: -50px;} 
.concept ul.size li:nth-child(3) {width: 65%; margin-left: 10%;} 
.concept .textBox {position: relative; padding-top: 10%;}
.concept .textBox .title {font-size: 6vw; -webkit-text-stroke: #b1dd40 2px; color: #fff; position: absolute; left: 0%; top: -15%;}
.concept .textBox span {line-height: 1.6; color: #fff; display: block; font-size: 1.5vw;}


/* imgBox에 active 클래스가 붙을 때 */
.imgBox {position: relative; overflow: hidden; transition: all 0.4s; height: 80vh;}
/* 설계구조 맨위 after 중간 before 맨아래 이미지 */
.imgBox::before {content: ''; width:100%; height: 100%; background: rgba(28, 43, 60,0.7); position: absolute; left: 0; top: 0; transition: all 0.8s; transition-delay: 0s; z-index: 2;}
.imBox::after {content: ''; width: 100%; height: 100%; background: #111606; position: absolute; left: 0; top: 0; transition: all 0.8s; z-index: 3;}
.imgBox.active::before{height: 0;}
.imgBox.active::after{height: 0;}

.textBox span {margin:50px 0; transition: all 0.8s; opacity: 0;}
.textBox.active span {margin: 0; opacity: 1;}


/* container 호버시 이미지 스크롤 */
.scroll-container { width: 100%; display: flex; flex-direction: column; position: absolute; top: 0;}
.scroll-container.soop {transition: transform 1s linear;}
.scroll-container.nike {transition: transform 5s linear;}
.scroll-container.hygi {transition: transform 4s linear;}


.ic-box{display:flex;}
.ic-box span:nth-child(1){margin-right:10px;}

.github-ic-white,
.new-ic{position:relative;width:40px;height:40px;background-position:center;background-repeat:no-repeat;background-size:cover;}

.github-ic-white{background-image:url("../images/icon/github.png");}

.new-ic{background-image:url("../images/icon/open_in_new_white.svg");}

.github-ic-white > a,  
.new-ic > a{position:absolute;top:0;left:0;width:100%;height:100%;display:block;}

.tooltip-text{visibility:hidden;opacity:0;transition:opacity 0.2s ease-in-out;position:absolute;top:50px;right:3px;width:60px;height:30px;background-color:#b1dd40;color:#58594c;text-align:center;align-content:center;border-radius:20px;padding:5px;box-sizing:border-box;font-size:14px;}

.tooltip-text::after{content:"";position:absolute;bottom:100%;right:8px;transform:translateY(2px) rotate(180deg);border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #b1dd40;}

.github-ic-white:hover .tooltip-text,  
.new-ic:hover .tooltip-text{visibility:visible;opacity:1;}




