@charset "utf-8";
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 영어폰트 */
.en{font-family: "Public Sans", sans-serif;}
.en2{font-family: "Cormorant Infant", serif;}

/* 규칙 */
/* .text {height: 2000px; color: #000;} */
.bd {font-weight: bolder;} 
.bt {margin-bottom: 10px;}
/* layout */
body {position: relative; font-family: "Noto Sans", sans-serif; font-size: 16px; line-height: 1.6; box-sizing: border-box; overflow-x: hidden; }
.wrap {position: relative; margin: 0 auto; overflow: hidden; color: rgb(28, 43, 60); border-radius: 0 0 200px 200px;} 


/* header */
header {width: 100%; position: fixed; left: 0; top: 0; background: rgb(28, 43, 60); z-index: 100; padding: 30px 60px; box-sizing: border-box; display: flex; justify-content: space-between; z-index: 9999;}
header.active {transform: translateY(-100%); }
header .logo{color:#fff;}
.gnb ul {display: flex; justify-content: space-between;}
.gnb ul li {margin-left: 70px;}
.gnb ul li a {display: block;}
.menu-wrap {display: none; position: fixed; width: 28px; height: 16px; cursor: pointer;}
.menu-wrap .line {position: absolute; width: 100%; height: 2px; border-radius: 1px; background: #fff; left: 0;}
.menu-wrap .line:first-child {top: 0; transform-origin: 25% 50%; transition: 0.3s;}
.menu-wrap .line:nth-child(2) {top: calc(50% - 1px);}
.menu-wrap .line:last-child {bottom: 0; transform-origin: 25% 50%; transition: 0.3s;}
.menu-wrap.open .line:first-child {transform: rotate(45deg) translateX(10%);}
.menu-wrap.open .line:nth-child(2) {opacity: 0;}
.menu-wrap.open .line:last-child {transform: rotate(-45deg) translateX(10%);}


/* gnb 호버효과 */
.gnb ul li a .char {display: inline-block; position: relative; color: transparent; overflow: hidden;}
.gnb ul li a .char:before, .gnb ul li a .char:after {position: absolute; top: 0; left: 0; opacity: 0.8; color: #fff; content: attr(data-char); transition: transform 0.35s; transition-delay: calc(30ms * var(--char-index));}

.gnb ul li a .char:before {transform: translateY(100%);}
.gnb ul li a:hover .char:before {transform: translateY(0%); opacity: 1;}
.gnb ul li a:hover .char:after {transform: translateY(-100%); opacity: 0;}

/* visual, circle */
.visual .circle {position: absolute; bottom: 0; right: 60px; width: 300px; height: 300px;  border-radius: 100%; background: url('../images/profile/profile.jpeg') no-repeat center; background-size: cover; background-position: 0 10%;}
.visual .circle .signBox{width: 100%; height: 100%; position: relative;}

.visual {width: 100%; padding-top: 125px; box-sizing: border-box; position: relative; letter-spacing: -1px; color: #1c2b3c;}
.visual .mainText {font-size: 96px; font-weight: 400; line-height: 1.2; margin: 0px 0px 150px 60px; display: inline-block;}
.visual .mainText p {overflow: hidden;}
.visual .subText {margin-left: 20%;}
/* .visual .svgAni {position: absolute; top: 23%; left: 10%; width: 40%; transform: rotate(-10deg);} */

/* animation */
.visual.motion .mainText {transform: translate3d(0,0,0) skewY(0deg); overflow:hidden;}
.visual.motion .mainText p span {display: block; animation-name: textAni; animation-duration: 1.8s;}
.visual.motion .mainText p:nth-child(2) span {animation-duration: 1.7s;}
.visual.motion .mainText p:nth-child(3) span {animation-duration: 1.5s;}

@keyframes textAni{
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top left;}
}

@keyframes textAni2{
    0% {opacity: 0;}
    30% {opacity: 0;}
}

.visual.motion .subText {animation-name: textAni2; animation-duration: 2.3s;}

.text-banner{position: relative; color : #FFB84D; font-size: 64px; text-wrap: nowrap; padding: 40px 0;}
.text-banner ul {white-space: nowrap; display: inline-block;}
.text-banner ul li { margin: 20px 50px;}
.text-banner ul li img {width: 200px; height: 200px;}

/* simplyScroll */
.simply-scroll .simply-scroll-clip {overflow: hidden;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li {float: left; width: 250px;}

/* intro */

.intro{display: flex; flex-direction: column; justify-content: center; align-items: center; height: 650px; background: rgb(28, 43, 60); color: #fff; font-weight: bolder; font-size: 96px;}

/* about */
.about{position: relative; height: 850px; background-color: #1c2b3c; color: #A9BCD0; padding: 40px 40px;}
.about .about-title {font-size: 64px; position: absolute; top: 40px; left: 40px;}
.about .about-circle {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 400px; height: 400px; border-radius: 100%; background-color: #A9BCD0; z-index: 2; background: url("../images/profile/profile.jpeg") no-repeat; background-size: cover; background-position: 0% 15%;}
.about .about-circle-wt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 480px; height: 480px; border-radius: 100%; background-color: rgb(28, 43, 60); z-index: 1;}

.about-content-line{width: 94.5%; position: absolute; top: 32%; transform: translateY(-50%); height: 1px; background-color: #A9BCD0;}
.about-content {position: absolute; font-size: 32px; top: 39%; transform: translateY(-50%);}
.about-content.rg {position: absolute; font-size: 32px; top: 36.1%; right: 5%; transform: translateY(-50%);}
.about-content.lt {position: absolute; font-size: 32px; top: 77%; transform: translateY(-50%);}
.about-content.rt {width: 267px; position: absolute; font-size: 32px; top: 72%; right: 5%; transform: translateY(-50%);}

.about-content-line-bt{width: 94.5%; position: absolute; bottom: 32%; transform: translateY(-50%); height: 1px; background-color: #A9BCD0;}

.about-content p{font-size: 24px;}

/* about ani */
#about-0 {opacity: 0;}


/* skills */
.skill {padding: 40px; height: 120vh; background-color: #fff; position: relative;}
.skill-title { font-size: 64px; font-weight: bolder; margin-bottom: 80px; }
.skill-title p:nth-child(1) {color: #ffa500; font-size: 32px; line-height: 20px; margin-top: 40px;}
.skill-title p:nth-child(3) {color: rgba(28, 43, 60,0.35); font-size: 20px; line-height: 20px;}
.skillBox {margin: auto; width: 1000px; height: 800px; display: flex; flex-wrap: wrap; }
.card-container {perspective: 1000px; position: relative; width: 200px; height: 200px; margin-right: 100px; }
.card {width: 100%; height: 100%; position: absolute; transform-style: preserve-3d; transition: transform 0.6s;}
.card-container:hover .card { transform: rotateY(180deg); }  

.side { position: absolute; width: 100%; height: 100%; backface-visibility: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 18px; font-weight: bold; border-radius: 10px; text-align: center; padding: 15px; }  

.side.front span {font-size: 26px;}

.front { background-color: rgb(248, 245, 255); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); color: #1c2b3c; }  
.back { background-color: rgb(248, 250, 255); color: #1c2b3c; transform: rotateY(180deg); border: 2px solid #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); font-family: "Public Sans", sans-serif;}  
.back p:nth-child(1){font-size: 26px;}


/* Circular Progress Bar */  
.progress-circle { position: relative; width: 120px; height: 120px; margin-top: 10px; }  
.progress-circle svg { width: 100%; height: 100%; }  
.progress-circle circle { fill: none; stroke-width: 10; stroke-linecap: round; }  
.progress-circle .bg { stroke: #fff; }  
.progress-circle .bar { stroke: #1c2b3c; stroke-dasharray: 314; stroke-dashoffset: 314; transition: stroke-dashoffset 1s ease-in-out; }  
.percentage { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; font-weight: bold; color: #1c2b3c; font-family: "Public Sans", sans-serif;}

/* 나의 포트폴리오 */
.pf-st {margin: 0 auto; position: relative; overflow: hidden; background: #1c2b3c;}
.pf-st img, .pf-st video {filter: brightness(90%);}

/* pf visual */
.pf-visual {position: relative; padding: 0; overflow: hidden;}
.pf-visual img, .pf-st video {width: 100%;}
.pf-visual h1 {font-size: 9vw; color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 60%; font-weight: 400; line-height: 1.2; opacity: 0;}
.pf-visual h1 span {display: block; letter-spacing: -2px; font-size: 6vw; font-weight: bolder; -webkit-text-stroke: 2px #d4af37; color: transparent} 
.pf-visual h1 p {font-size: 6vw;}
.pf-visual h1 p:last-child {font-size: 1.5vw; text-align: center; color: rgba(255, 255, 255, 0.8);}

/* pf 소개 */

.infoProject .inner, .concept .inner {width: 80%; margin: 0 auto;}

.infoProject {padding: 50px 0;}
.infoProject .inner {display: flex; justify-content: space-between; flex-wrap: wrap;} 
.infoProject .inner .imgBox {width: 70%; border-radius: 10px;}
.infoProject .inner .imgBox img {width: 100%;}

.infoProject .inner .textBox {width: 25%;}
.infoProject .inner .textBox span {display: block; line-height: 1.6; color: #fff;}
.infoProject .inner .textBox span.title {color: #b1dd40; font-weight: 500; text-transform: uppercase;}
.infoProject .inner .textBox .text {margin-bottom: 30px;}

/* concept */
.concept {padding: 50px 0 100px 0;}
.concept ul {display: flex; justify-content: space-between; flex-wrap: wrap;}
.concept ul li {width: 28%; margin-top: 200px;}
.concept ul li:nth-child(2n) {margin-top: 0;}
.concept ul li img {width: 100%;}

.concept ul.size {margin-top: 150px;}
.concept ul.size li:nth-child(1) {width: 32%; margin-left: 20%;}
.concept ul.size li:nth-child(2) {width: 40%; margin-top: -50px;} 
.concept ul.size li:nth-child(3) {width: 65%; margin-left: 10%;} 
.concept .textBox {position: relative; padding-top: 10%;}
.concept .textBox .title {font-size: 6vw; -webkit-text-stroke: #b1dd40 2px; color: #fff; position: absolute; left: 0%; top: -15%;}
.concept .textBox span {line-height: 1.6; color: #fff; display: block; font-size: 1.5vw;}


/* imgBox에 active 클래스가 붙을 때 */
.imgBox, .storyBox {position: relative; overflow: hidden; transition: all 0.4s; border-radius: 10px;}
 
/* 설계구조 맨위 after 중간 before 맨아래 이미지 */
.imgBox::before {content: ''; width:100%; height: 100%; background: rgba(28, 43, 60,0.7); position: absolute; left: 0; top: 0; transition: all 0.8s; transition-delay: 0s; z-index: 2;}
.imBox::after {content: ''; width: 100%; height: 100%; background: #111606; position: absolute; left: 0; top: 0; transition: all 0.8s; z-index: 3;}
.imgBox.active::before{height: 0;}
.imgBox.active::after{height: 0;}


.textBox span {margin:50px 0; transition: all 0.8s; opacity: 0;}
.textBox.active span {margin: 0; opacity: 1;}


/* container 호버시 이미지 스크롤 */
.scroll-container { width: 100%; display: flex; flex-direction: column; position: absolute; top: 0;}
.scroll-container.soop {transition: transform 1s linear;}
.scroll-container.nike {transition: transform 5s linear;}
.scroll-container.main-pf {transition: transform 4s linear;}


.ic-box{display:flex;}
.ic-box span:nth-child(1){margin-right:10px;}

.github-ic-white,
.new-ic{position:relative;width:40px;height:40px;background-position:center;background-repeat:no-repeat;background-size:cover;}

.github-ic-white{background-image:url("../images/icon/github.png");}

.new-ic{background-image:url("../images/icon/open_in_new_white.svg");}

.github-ic-white > a,  
.new-ic > a{position:absolute;top:0;left:0;width:100%;height:100%;display:block;}

.tooltip-text{visibility:hidden;opacity:0;transition:opacity 0.2s ease-in-out;position:absolute;top:50px;right:3px;width:60px;height:30px;background-color:#b1dd40;color:#58594c;text-align:center;align-content:center;border-radius:20px;padding:5px;box-sizing:border-box;font-size:14px;}

.tooltip-text::after{content:"";position:absolute;bottom:100%;right:8px;transform:translateY(2px) rotate(180deg);border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #b1dd40;}

.github-ic-white:hover .tooltip-text,  
.new-ic:hover .tooltip-text {visibility:visible;opacity:1;}
.github-ic-orange:hover .tooltip-text,
.new-ic-orange:hover .tooltip-text,
.figma-ic:hover .tooltip-text
{visibility:visible;opacity:1; color: #fff; font-weight: bolder;}

.gallery {margin: 0 auto; position: relative; overflow: hidden; }

.sd-pf1, .sd-pf2 {height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #0f0d0d; color: #fbe094; text-align: center; text-transform: uppercase;}
.sd-pf1 .cd-logo {width: 150px; margin: 0 auto 25px;}
.sd-pf1 .logo a {display: block; width: 100%; height: 100%;}
.sd-pf1 .logo img {width: 100%;}
.sd-pf1 .textBox .title {font-size: 72px; font-weight: bolder; margin-bottom: 5px;}
.sd-pf1 .textBox .txt {font-size: 18px;}
.sd-pf2 {font-size: 80px;}

/* side-portfolio */
.sd-pf-st {background-color: #fff;color: #1c2b3c; padding-bottom: 500px;}
.sd-pf-st .title {width: 100%; font-size: 170px; line-height: 1.1; text-align: center; padding-top: 30vh; box-sizing: border-box;}
.sd-pf-st .title {font-size: 220px;}
.sd-pf-st .workList {display: flex; justify-content: space-between; flex-wrap: wrap; width: 70%; margin: 0 auto;}
.sd-pf-st .workList li {width: 45%; margin-top: 200px;}
.sd-pf-st .workList li:nth-child(2n) {margin-top: 0;}
.sd-pf-st .workList li a {display: block;}
.sd-pf-st .workList li a .imgBox img {position: relative; width: 100%; z-index: 1000;}
.sd-pf-st .workList li a .textBox h3 {font-size: 35px; font-weight: normal; margin: 20px 0 5px; text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.75);}
.sd-pf-st .workList li a .textBox .info {display: flex; justify-content: space-between; color: #fff; text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.75);}

/* team-project */
.team-con01 {width: 100%; height: 100vh; background: #fff; color: #ece0c7; display: flex; justify-content: center; align-items: center;}
.team-con01 .team-textBox {text-align: center;}
.team-con01 .team-textBox.main {position: relative;}
.team-con01 .team-textBox.main p {display: flex; flex-direction: column; position: absolute; top: 70%; left: 50%; transform: translate(-50%,-50%);}
.team-con01 .team-textBox, .team-log {position: relative; width: 150px; margin: 0 auto 25px;}
.team-con01 .team-textBox, .team-log img {width: 100%;}
.team-con01 .team-textBox, .team-title {font-size: 68px; margin-bottom: 10px; font-weight: bolder; letter-spacing: -1px; color: #f45b40;}
.team-con01 .team-textBox .team-txt {letter-spacing: -1px; font-size: 18px;}

/* team-gallery */
.team-gallery {width: 100%; padding: 150px 0;}
.team-gallery .team-inner {margin: 0 auto; padding: 0 80px; display: flex; justify-content: space-between; }
.team-gallery .team-inner .team-textBox {width: 45%;}
.team-gallery .team-inner .team-textBox h2 {color: blue; font-size: 24px;}
.team-gallery .team-inner .team-textBox .team-txt {font-weight: bolder; color: #1c2b3c; font-size: 32px;}
.team-gallery .team-inner .team-imgBox {width: 45%; position: relative; background-color: rgb(248, 240, 255); border-radius: 20px;box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.7); padding: 100px;}
/*  

*/
.gallery-ic {display: flex; justify-content: end;}
.gallery-ic div{margin: 0 5px;}
.github-ic-orange, .new-ic-orange, .figma-ic {width: 40px; height: 40px; background-repeat: no-repeat; background-size: cover; background-position: center;} 
.github-ic-orange {position: relative; background-image: url("../images/icon/github-orange.png");} 
.new-ic-orange {position: relative; background-image: url("../images/icon/open_in_new_orange.svg");} 
.figma-ic {position: relative; background-image: url("../images/icon/figma-ic.png");} 

.team-gallery .team-inner .team-imgBox li {position: absolute; left: 10%; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 65%; opacity: 1;}
.team-gallery .team-inner .team-imgBox li.team-img1 {transform: translate(-50%,-50%) rotate(0deg); z-index: 1;}
.team-gallery .team-inner .team-imgBox li.team-img2 {transform: translate(-50%,-50%) rotate(-5deg); z-index: 2;}
.team-gallery .team-inner .team-imgBox li.team-img3 {transform: translate(-50%,-50%) rotate(7deg); z-index: 3;}
.team-gallery .team-inner .team-imgBox li.team-img4 {transform: translate(-50%,-50%) rotate(-7deg); z-index: 4;}
.team-gallery .team-inner .team-imgBox li.team-img5 {transform: translate(-50%,-50%) rotate(2deg); z-index: 5;}
.team-gallery .team-inner .team-imgBox li.team-img6 {transform: translate(-50%,-50%) rotate(-3deg); z-index: 6;}
.team-gallery .team-inner .team-imgBox li.team-img7 {transform: translate(-50%,-50%) rotate(5deg); z-index: 7;}
.team-gallery .team-inner .team-imgBox li.team-img8 {transform: translate(-50%,-50%) rotate(-5deg); z-index: 8;}
.team-gallery .team-inner .team-imgBox li.team-img9 {transform: translate(-50%,-50%) rotate(7deg); z-index: 9;}
.team-gallery .team-inner .team-imgBox li.team-img10 {transform: translate(-50%,-50%) rotate(-7deg); z-index: 10;}
.team-gallery .team-inner .team-imgBox li.team-img11 {transform: translate(-50%,-50%) rotate(2deg); z-index: 11;}
.team-gallery .team-inner .team-imgBox li.team-img12 {transform: translate(-50%,-50%) rotate(0deg); z-index: 12;}
.team-gallery .team-inner .team-imgBox li img {width: 100%; }

/* 아래 방향 화살표 */
.down-arrow{position: absolute; width: 300px; height: 300px; bottom: -25%; left: 50%; transform: translate(-50%,-50%); color: transparent;}

.team-logo #arrow-01 {fill: transparent;   stroke-dasharray: 950; stroke-dashoffset: 950;}
.team-logo #arrow-02 {fill: transparent;   stroke-dasharray: 96; stroke-dashoffset: 96;}
.team-logo.arrow-dr #arrow-01 {stroke-dasharray: 950; stroke-dashoffset: 950; animation: ani1 1s linear forwards;}
.team-logo.arrow-dr #arrow-02 {stroke-dasharray: 96; stroke-dashoffset: 96; animation: ani2 1s linear 1s forwards; }


 @keyframes ani1{
    0% {stroke-dashoffset: 950;}
    100% {stroke-dashoffset: 0;}
}

@keyframes ani2{
    0% {stroke-dashoffset: 96;}
    100% {stroke-dashoffset: 0;}
}

/* hobby intro */
.sd-pf-st-hobby {position: relative; height: 1000px; background-color: #fff;color: #1c2b3c;}
.sd-pf-st-hobby .title {width: 100%; font-size: 170px; line-height: 1.1; text-align: center; padding-top: 30vh; box-sizing: border-box;}
.sd-pf-st-hobby .title {font-size: 220px;}
.sd-pf-st-hobby .title .c {font-size: 20px; color: blue; font-weight: 500;}
.hobby-end-point {position: absolute; bottom: 0; width: 100%; height: 100px; }

.hobby {position: relative; background-color: #fff;}

/* hobby des */
.hobby-title {font-size: 64px; color: blue; font-weight: bolder;}
.hobby-des {font-size: 20px; color: rgba(28, 43, 60,0.7); font-weight: bolder;}
.hobby-con {margin-bottom: 50px; padding: 40px;}
.hobby-con p:first-child {font-size: 64px; font-weight: bolder;}
.hobby-con p:last-child {font-size: 16px; color: #1c2b3c;}

/* hobby */
.hobby ul {display: flex; box-sizing: border-box; padding: 0 30%;}

.hobby ul li {display: flex; justify-content: center; align-items: center; width: 800px; height: 520px; flex-shrink: 0 !important;}

.hobby ul li > div {width: 500px; border: 2px solid rgba(211, 211, 211,0.5); border-radius: 20px;}

.hobby ul li a {position: relative; display: block; width: 100%;}

.hobby ul li a .hobby-imgBox {position: relative; overflow: hidden; border-radius: 20px;}

.hobby ul li a .hobby-imgBox img { width: 100%; margin-top: 130px;} 
.hobby ul li a .hobby-imgBox:first-child {width: 100%; height: 200px;}

.hobby ul li a .textBox {position: absolute; left: 0; top: 0; color: #1c2b3c; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);}

.hobby ul li a .textBox .title {font-size: 52px; text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);}

.hobby ul li a .textBox .text {font-size: 20px; padding-left: 5px;}

.hobby ul li a .textBox {opacity: 0;}

/* counter */
.hobby .counter {position: absolute; font-size: 50px; right: 8%; bottom: 3%; letter-spacing: -3px; color: #1c2b3c; text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);  z-index: 1000;}

.hobby .counter .now {font-size: 50px;}

.hobby ul li a .num {width: 100%;}



/* portfolio process */
.process-intro {position: relative; height: 650px; background: rgb(28, 43, 60); margin-top: 400px; letter-spacing: -2px; font-size: 8vw; padding: 100px 0 0 0;}
.process-intro .process-intro-title .process-a {position: absolute; left: 15%; top: 40%; transform: translateY(-50%);font-weight: bolder; -webkit-text-stroke: 1px #d4af37;}
.process-intro .process-intro-title .process-b {position: absolute; right: 15%; top: 60%; transform: translateY(-50%); color: #fff;}

.step {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 650px; background-color: #1c2b3c; }
.step5 {margin-top: 1000px; background-color: #fff;}

.step div:first-child {padding: 20px 70px; font-size: 82px; border: 1px solid #fff; border-radius: 40px; margin-bottom: 20px; -webkit-text-fill-color: rgba(255, 255, 255, 0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(#fff, #fff); background-size: 0% 100%;}

.step.step5 div:first-child {padding: 20px 70px; font-size: 82px; border: 1px solid #1c2b3c; border-radius: 40px; margin-bottom: 20px; -webkit-text-fill-color: rgba(28, 43, 60, 0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(rgb(28, 43, 60), rgb(28, 43, 60)); background-size: 0% 100%;}

.step div:last-child {font-size: 32px; font-weight: bolder; -webkit-text-fill-color: rgba(255, 255, 255, 0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(#fff, #fff); background-size: 0% 100%;}
.step.step5 div:last-child {font-size: 32px; font-weight: bolder; -webkit-text-fill-color: rgba(28, 43, 60, 0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(#1c2b3c, #1c2b3c); background-size: 0% 100%;}

.pro {position: relative; padding: 80px; height: 850px; background-color: #fff; color: #1c2b3c;}
.storyboard {height: 600px;}
.pro-title {position: relative; height: 200px; z-index: 1000;} 
.pro-title span {font-size: 80px;} 
.pro-title span:nth-child(1) {letter-spacing: -5px; -webkit-text-fill-color: rgb(255, 165, 0, 0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(rgb(255, 165, 0), rgb(255, 165, 0)); background-size: 0% 100%;}
.pro-title span:nth-child(2) {position: absolute; -webkit-text-fill-color: rgb(28, 42, 59,0.2); -webkit-background-clip: text; background-repeat: no-repeat; background-image: linear-gradient(rgb(28, 43, 60), rgb(28, 43, 60)); background-size: 0% 100%;}


/* process content */
/* brain */
.brain-img {position: absolute; right: 80px; bottom: 80px; background-image: url('../images/process/brain.png'); background-position: center; background-size: cover; background-repeat: no-repeat; width: 620px; height: 420px;}
/* lt 왼쪽 정보 */
.lt-about {position: absolute; left: 80px; bottom: 100px;} 
.lt-about p:first-child {font-weight: bolder; font-size: 32px;}
.lt-about p:last-child {font-size: 16px;}

/* info */
.info-img {position: absolute; left: 140px; bottom: 80px; background-image: url('../images/process/Information-Architecture.png'); background-position: center; background-size: cover; background-repeat: no-repeat; width: 419px; height: 413px;}
/* rg 오른쪽 정보 */
.rg-about {position: absolute; right: 80px; bottom: 100px; z-index: 1000;} 
.rg-about p:first-child {font-weight: bolder; font-size: 32px; text-align: end;}
.rg-about p:not(:first-child) {font-size: 16px; text-align: end;}

/* story */
/* lt 왼쪽 정보 */
.story-about {position: absolute; right: 40px; bottom: 100px;} 
.story-about p:first-child {font-weight: bolder; font-size: 32px; text-align: end;}
.story-about p:last-child {font-size: 16px; text-align: end;}

/* process title 위치조정 */
/* 왼쪽 */
.brain.pro .pro-title span:nth-child(2),
.info-structure .pro-title span:nth-child(2),
/* 오른쪽 */
.Idea-sketch {height: 850px;}
.Idea-sketch.pro .pro-title span:nth-child(1),
.storyboard.pro .pro-title span:nth-child(1){position: absolute; right: 0;}
.Idea-sketch.pro .pro-title span:nth-child(2),
.storyboard.pro .pro-title span:nth-child(2) {top: 70px; right: 40px;}

/* ystack시작 */
.yScroll-title {position: relative; height: 100px; width: 100%; font-size: 32px;}  
.yScroll-title p:nth-child(1) {position: absolute; top: 0%;  transform: translateY(-50%); right: 0; letter-spacing: -5px; color: orange; font-size: 80px;}
.yScroll-title p:nth-child(2) {position: absolute; top: 60%; right: 60px; transform: translateY(-50%); font-size: 32px;}


.cloneWrap {position: relative; display: flex; flex-direction: column; justify-content: center; border-radius: 50px 50px 0 0; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3); height: 850px; background-color: #fff; overflow: hidden; padding: 80px;}

.cloneWrap .conBox {display: flex; justify-content: space-between; height: auto; overflow: hidden; padding: 50px;}

.cloneWrap .conBox li.left { width: 50%;  overflow: hidden; height: 500px !important;}

.cloneWrap .conBox li.left a {width: 80%; height: 100%; display: block;}

.cloneWrap .conBox li.left a p.img {width: 100%; background-color: rgb(245, 245, 245); padding: 40px; border-radius: 20px;}

.cloneWrap .conBox li.left a p.img img {width: 100%; border-radius: 20px;}

.conBox-scroll-container { width: 100%; display: flex; flex-direction: column; position: absolute; top: 0;  animation: scrollUpDown 3s ease-in-out infinite alternate; }
.conBox-scroll-container.autoImg {transition: transform 1s linear;}

@keyframes scrollUpDown {
  0% {
    transform: translateY(0); /* 시작 위치 */
  }
  100% {
    transform: translateY(calc(-100% + 500px)); /* mockup 높이 제외한 만큼 위로 이동 */
  }
}

.cloneWrap .conBox li.right {display: flex; flex-direction: column;  width: 50%; }

.cloneWrap .conBox li.right .tit {font-size: 60px; line-height: 0.9;  margin-bottom: 30px;}

.cloneWrap .conBox li.right .tit span {display: block; font-size: 84px; font-weight: bolder;}

.cloneWrap .conBox li.right .txtBox {width: 90%; line-height: 1.5; padding-left: 10px;}

.cloneWrap .conBox li.right .txtBox .eng {font-size: 24px; line-height: 1.2; margin-bottom: 30px; color: rgba(28, 43, 60, 0.9);}

.cloneWrap .conBox li.right .txtBox .kor {font-size: 15px; letter-spacing: -1px;  margin-bottom: 30px;}

/* draw */
.draw {fill: none; stroke: transparent; stroke-miterlimit: 10; position: absolute; top: 0%; z-index: 500;}

.Idea-sketch.active .draw {fill: none; stroke: rgba(28, 43, 60, 0.8); stroke-miterlimit: 10; }

.Idea-sketch.active .draw {fill: transparent;  stroke-dasharray: 2926; stroke-dashoffset: 2926;}
.Idea-sketch.active .draw {stroke-dasharray: 2926; stroke-dashoffset: 2926; animation: ani1 3s linear forwards;}

 @keyframes ani1{
    0% {stroke-dashoffset: 2926;}
    100% {stroke-dashoffset: 0;}
}



/* 아이디어 스케치 */
.Idea-sketch {height: auto;} 
.Idea-sketch .list li{width: 100px; height: 100px;}
.Idea-sketch .list li img {width: 100%;}


/* z 이미지 섹션 */
.z-con01 {position: relative; padding: 500px 0px 500px 0px; border-radius: 0 0 150px 150px; z-index: 2000;}
.z-con01 .inner .mainTextBox h2 {color: #fff;}
.z-con01 .inner .listBox {position: relative; perspective: 900px; z-index: 1000;}
.z-con01 .inner .listBox .box {width: 100%; height: 500px; margin-bottom: 30px; border-radius: 10px; padding: 30px 50px 0; position: -webkit-sticky; position: sticky; top: 100px; filter: brightness(1);  background-position: center; background-size: cover; background-repeat: no-repeat; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}     
.z-con01 .inner .listBox .box.a {background-image: url(../images/z-scroll/img1.jpg);}
.z-con01 .inner .listBox .box.b {background-image: url(../images/z-scroll/img2.jpg); background-position: 0% 5%;}
.z-con01 .inner .listBox .box.c {background-image: url(../images/z-scroll/img3.jpg); background-position: 0% -5%;}
.z-con01 .inner .listBox .box.d {background-image: url(../images/z-scroll/img4.jpg);}
.z-con01 .inner .listBox .box.e {background-image: url(../images/z-scroll/img5.jpg);}
.vision {width: 100%; color: #fff; position: absolute; bottom: 3.5%; font-size: 32px; left: 50%; transform: translateX(-50%); text-align: center;}


/* one-path-me */
.one-path-me {position: relative; top: -205px; height: 1000px; background-color: #1c2b3c;}
.one-ath {fill: none; stroke: transparent; stroke-miterlimit: 10;  }

.one-path-me.active .one-path {fill: none; stroke: rgba(255, 255, 255, 1); stroke-miterlimit: 10; }
.one-path-me.active .one-path {fill: transparent;  stroke-dasharray: 7896; stroke-dashoffset: 2926;}
.one-path-me.active .one-path {stroke-dasharray: 7896; stroke-dashoffset: 7896; animation: onePath 5s linear forwards;}

 @keyframes onePath{
    0% {stroke-dashoffset: 7896;}
    100% {stroke-dashoffset: 0;}
}

/* text-wave */
.text-wave {position: relative; display: flex; justify-content: center; align-items: center; background-color: #1c2b3c; color: #fff; height: 300px;}
/* .text-wave div {top: 40%; transform: translateY(-50%); font-size: 5vw;} */
.text-wave h2 {color: #fff; position: absolute; font-size: 11vw;}
.text-wave h2:nth-child(1) {color: transparent; -webkit-text-stroke: 2px #fff;}
.text-wave h2:nth-child(2) {color: #fff; animation: animate 4s ease-in-out infinite;}

@keyframes animate {
  0%,100% {clip-path: polygon(0% 53%, 18% 65%, 34% 53%, 44% 65%, 60% 53%, 70% 66%, 83% 55%, 92% 66%, 100% 52%, 100% 98%, 1% 99%);}
  50% {clip-path: polygon(0 59%, 18% 53%, 30% 63%, 44% 56%, 58% 62%, 70% 57%, 83% 63%, 90% 56%, 100% 64%, 100% 98%, 1% 99%);}
}

/* footer 시작 */
footer {z-index:0; position: absolute; width: 100%; bottom: 0; padding: 500px 0 40px 0; color: rgba(255, 255, 255, 0.8); background-color: rgb(17, 24, 39);}
.footer-box {display: flex; }
.footer-left-box {width: 70%; font-size: 20px;}
.footer-right-box {width: 30%; font-size: 24px; color: #fff; padding: 0 40px 0 10px;}
.footer-right-box p:first-child {border-bottom: 1px solid rgba(255,255,255,0.5);}


.footer-menu {display: flex;  justify-content: center; padding-bottom: 10px;}
.footer-menu li {margin: 5px;}
.footer-menu li:hover {color: #fff;}
.footer-menu li a {position: relative;  padding: 5px 10px;  z-index: 1000; font-size: 24px;}

/* 오류수정 */
.sd-pf-st {padding-top: 10px;}
.mb-textBox {display: none;}
/* *********************************************************************************** */
/* 반응형 */
@media screen and (max-width: 1650px){
    /* 데스크탑 기술 */
}

@media (min-width: 1025px) and (max-width: 1586px) {
.vision {font-size: 20px;}
}


@media (min-width: 1025px) {
  /* 데스크탑 기술 */
  .skill {height: auto;}
  .visual .subText {margin-left: 5%;}
  .text-banner {font-size: 48px; line-height: 50px;}
  .about-content.rg {right: 2%;}
  .about-content.rt {right: 1%;}
  .card-container {margin:  0 45px;}
  .infoProject .inner .imgBox {width: 65%;}
  .infoProject .inner .textBox {width: 30%;}
}



@media (min-width: 769px) and (max-width: 1024px) {
  /* 태블릿 기술 */
  header {padding: 20px 50px;}
  .gnb ul {font-size: 16px;}
  .gnb ul li {margin-left: 30px;}
  .visual .mainText {font-size: 64px;}
  .visual .subText {margin-left: 10%;}
  .visual .circle {width: 230px; height: 230px; bottom: 160px;}
  .text-banner {font-size: 35px; padding: 10px 0;}
  .simply-scroll .simply-scroll-clip .simply-scroll-list li {width: auto;}
  .intro {height: 500px; font-size: 64px;}
  .about .about-circle {width: 230px; height: 230px;}
  .about .about-circle-wt {width: 300px; height: 300px;}
  .about-content {font-size: 20px;}
  .about-content p {font-size: 20px;}
  .about-content.rg {font-size: 20px; right: 2%;}
  .about-content.lt {font-size: 20px;}
  .about-content.rt {font-size: 20px; right: -3%;}
  .card {width: 90%; height: 90%;}
  .side.front span {font-size: 16px;}
  .side {font-size: 16px;}
  .back p:nth-child(1) {font-size: 16px;}
  .percentage {font-size: 16px;}
  .skill-title {font-size: 32px;}
  .skill-title p:nth-child(3) {font-size: 16px;}
  .skillBox {width: 700px; height: 700px;}
  .card-container {margin-right: 30px;}
  .process-intro {height: 500px;}
  .step {height: 500px;}
  .step div:first-child {font-size: 48px;}
  .step div:last-child {font-size: 24px;}
  .pro-title span {font-size: 64px;}
  .brain-img {width: 440px; height: 300px; bottom: 190px; left: 80px;}
  .lt-about {bottom: 65px;}
  .text-banner ul li img {width: 100px; height: 100px;}
  .pro {padding: 60px; height: 650px;}
  .pro-title span:nth-child(1) {letter-spacing: 1px; font-size: 48px;}
  .pro-title span:nth-child(2) {font-size: 48px;}
  .info-img {width: 284px; height: 280px; bottom: 200px; left: 110px;}
  .storyboard {height: 430px;}
  .yScroll-title p:nth-child(1) {font-size: 64px;}
  .cloneWrap {padding: 40px;}
  .cloneWrap .conBox li.right .tit span {font-size: 48px;}
  .cloneWrap .conBox li.right .txtBox .eng {font-size: 16px;}
  .cloneWrap .conBox li.left a p.img {padding: 10px;}
  .cloneWrap .conBox {padding: 20px;}
  .conBox-scroll-container {animation: none;}
  .step.step5 div:first-child {font-size: 64px;}
  .step.step5 div:last-child {font-size: 24px;}
  .infoProject .inner .imgBox {width: 50%; top: 35px;}
  .infoProject .inner .textBox {width: 40%;}
  .infoProject .inner .textBox .text {font-size: 12px;}
  .github-ic-white, .new-ic {width: 30px; height: 30px;}
  .concept {padding-bottom: 30px;} 
  .team-logo img {width: 500px;}
  .team-con01 .team-textBox, .team-title {font-size: 38px;}
  .down-arrow {width: 100px; height: 100px;}
  .team-inner {display: flex; flex-direction: column;}
  .team-gallery .team-inner .team-textBox {width: 100%; font-size: 14px;}
  .team-gallery .team-inner .team-imgBox {width: 100%; margin-top: 50px; height: 290px;}
  .team-gallery .team-inner .team-imgBox li {width: 50%;}
  .gallery-ic {margin-top: 20px;}
  .sd-pf-st .title {font-size: 140px;}
  .sd-pf-st {padding-top: 10px;}
  .sd-pf-st .workList li a .textBox h3 {font-size: 24px;}
  .sd-pf-st .workList li a .textBox .info p {font-size: 14px;}
  .sd-pf-st-hobby .title {font-size: 140px;}
  .sd-pf-st-hobby .title .c{font-size: 16px;}
  .hobby ul li {width: 500px; height: 250px;}
  .hobby ul li > div {width: 350px;}
  .hobby ul li a .textBox .title {font-size: 48px;}
  .hobby .counter {bottom: -10%;}
  .z-con01 {padding: 300px 40px 300px 40px; margin-top: 100px;}
  .z-con01 .inner .listBox .box {height: 350px;}

  .one-path-me {height: auto;}
  .text-wave {height: 0;}
  .vision {font-size: 14px;}


  /* footer */
  .footer-left-box {width: 60%;}
  .footer-right-box {width: 40%; font-size: 20px;}
  .footer-menu {padding-bottom: 0;}
  .footer-menu li a {font-size: 16px;}
}

@media (max-width: 768px) {
  /* 모바일 기술 */
  header {padding: 30px;}
  .gnb { width: 100vw; height: 100vh; position: absolute; background-color: #1c2b3c; margin: -30px; display: none; justify-content: center; align-items: center;}
  .gnb ul {display: flex; flex-direction:column; align-items: center; height: 50vh; }
  .gnb ul li {margin: 0; font-size: 24px; width: 100%; height: 100%; text-align: center;}
  .visual .mainText {font-size: 50px;}
  .visual .mainText {margin: 0px 0px 150px 30px;}
  .visual .circle {width: 150px; height: 150px; top: 55%; left: 30px; transform: translateY(-50%);}
  .visual .subText {margin: 30px 0 30px 30px;}
  .text-banner {padding: 0; margin-bottom: 30px;}
  .text-banner {font-size: 24px;}
  .simply-scroll .simply-scroll-clip .simply-scroll-list li {width: 60px;}
  .text-banner ul li {margin: 5px 50px;}
  .intro { height: 400px; font-size: 64px;}
  .about .about-circle {width: 150px; height: 150px;}
  .about .about-circle-wt {width: 170px; height: 170px;}
  .about {height: 400px; padding: 20px;}
  .about-content {font-size: 16px;}
  .about-content.rg {font-size: 16px; right: 0%;}
  .about-content.rt {font-size: 16px; width: auto;}
  .about-content.lt {font-size: 16px;}
  .about-content p {font-size: 10px;}
  .about-content-line,.about-content-line-bt {width: 90.5%;}
  .skill {height: 100vh;} 
  .skill-title {font-size: 32px; margin-bottom: 40px;}
  .skill-title p:nth-child(3) {font-size: 14px;}
  .skillBox {width: 330px; height: auto;}
  .side {font-size: 14px; width: 100%; height: 100%;}
  .side.front span {font-size: 12px;}
  .percentage {font-size: 14px;}
  .back p:nth-child(1) {font-size: 14px;}
  .card-container {margin-right: 0; width: 150px; height: 150px; margin-bottom: 10px; margin-left: 10px;}
  .step {height: 300px;}
  .step div:first-child {font-size: 40px;}
  .step div:last-child {font-size: 20px;}
  .step div:first-child {padding: 15px 50px;}
  .pro {padding: 20px; height: 500px;}
  .process-intro {height: 300px;}
  .pro-title {height: 100px;}
  .pro-title span {font-size: 40px; height: auto;}
  .info-structure.pro .pro-title span:nth-child(1) {letter-spacing: 0px;}
  .info-structure .pro-title span:nth-child(2){margin-top: 10px; margin-left: 15px; height: auto; font-size: 28px; }
  .info-structure .rg-about {bottom: 40px;}

  .lt-about p:first-child {font-size: 24px;}
  .lt-about p:last-child {font-size: 12px;}
  .brain-img {width: 285px; height: 195px; top: 135px; left: 40px;}
  .lt-about {left: 40px;  bottom: 20px;}
  .info-img {width: 195px; height: 250px; top: 150px; left: 40px;}
  .storyboard {height: 400px;}
  .story-about {right: 25px;}
  .story-about p:first-child {font-size: 24px;}
  .story-about p:last-child {font-size: 14px;}
  .Idea-sketch.pro .pro-title span:nth-child(2), .storyboard.pro .pro-title span:nth-child(2) {top: 30px; right: 20px;}
  .text-banner ul li img {width: 100px; height: 100px;}
  .draw {top: 25%;}
  .rg-about {right: 40px;}
  .rg-about p:first-child {font-size: 20px;}
  .rg-about p:not(:first-child) {font-size: 12px;}
  .cloneWrap {padding: 40px;}
  .yScroll-title p:nth-child(1) {font-size: 40px;}
  .cloneWrap {height: 500px;}
  .cloneWrap .conBox li.left {width: 100%;}
  .cloneWrap .conBox li.right {width: 100%;}
  .cloneWrap .conBox li.left a {width: 100%; height: 200px;}
  .cloneWrap .conBox li.right .tit,.cloneWrap .conBox li.right .txtBox .eng, .cloneWrap .conBox li.right .txtBox .kor {margin: 10px 0;}
  .cloneWrap .conBox li.right .tit span {font-size: 24px;}
  .cloneWrap .conBox li.right .txtBox .eng {font-size: 10px;}
  .cloneWrap .conBox li.right .txtBox .kor {font-size: 10px;}
  .cloneWrap .conBox {padding: 0; flex-direction: column;}
  .cloneWrap .conBox li.left a p.img {padding: 20px;}
  .imgBox {overflow: visible;}
  .step5 {margin-top: 550px;}
  .step.step5 div:first-child {font-size: 40px; padding: 10px 50px;}
  .step.step5 div:last-child {font-size: 20px;}
  .infoProject .inner .textBox {width: 100%; font-size: 12px;}
  .infoProject .inner .textBox .text {margin-bottom: 10px;}
  .scroll-container {position: relative; margin-bottom: 20px; height: 200px; overflow: hidden;}
  .infoProject {padding: 0;}
  .infoProject .inner .textBox span.title {font-size: 16px;}
  .infoProject .inner .imgBox {width: 100%; }
  .github-ic-white, .new-ic {width: 30px; height: 30px;}
  .team-con01 {height: 50vh;}
  .team-con01 .team-textBox, .team-title {font-size: 24px;}
  .team-textBox img {width: 300px; height: 300px; position: relative; top: -50px;}
  .down-arrow {width: 100px; height: 100px; bottom: -45%;}
  .team-con01 .team-textBox.main p {top: 70%;}
  .github-ic-orange, .new-ic-orange, .figma-ic {width: 30px; height: 30px;}
  .footer-left-box {display: none;}
  .team-gallery {padding: 0;}
  .team-gallery .team-inner {display: flex; flex-direction: column;}
  .team-gallery .team-inner .team-textBox {width: 100%;}
  .team-gallery .team-inner {padding: 100px 20px;}
  .pc-textBox {display: none;}
  .mb-textBox {display: block;}
  .team-gallery .team-inner .team-imgBox {width: 100%; margin-top: 50px;}
  .sd-pf-st .title {font-size: 84px;}
  .sd-pf-st .workList {width: 85%;}
  .sd-pf-st .workList .textBox {transform: none;}
  .sd-pf-st .workList li {margin-top: 80px;}
  .sd-pf-st .workList li a .textBox h3 {font-size: 20px;}
  .info {font-size: 12px;}
  .sd-pf-st-hobby .title {font-size: 84px;}
  .sd-pf-st-hobby .title .c {font-size: 10px;}
  .sd-pf-st-hobby {height: 500px;}
  .hobby-con {margin-bottom: 20px;}
  .hobby-con p:first-child {font-size: 50px;}
  .hobby-con p:last-child {font-size: 12px;}
  .hobby ul li {width: 270px; height: 320px;}
  .hobby ul li a .textBox .title {font-size: 40px;}
  .z-con01 {padding: 300px 0 50px 0;}
  .z-con01 .inner .listBox .box {height: 200px;}
  .one-path-me {top: -90px; height: 220px;}
    /* footer */
  .vision {font-size: 12px;}
  .footer-menu li a {font-size: 10px;}
  .hobby ul li a .hobby-imgBox img {top: 80px;}
  .hobby .counter .now {font-size: 32px;}
  .hobby .counter {font-size: 32px; bottom: -8%;}
  .z-con01 {border-radius: 0 0 70px 70px;}
  .footer-right-box{width: 100%; text-align: center; padding: 0 20px; font-size: 16px;}
  .footer-menu li {margin: 0; margin-top: 5px;}
  .footer-menu li a {font-size: 12px;}


  @keyframes scrollUpDown {
  0% {
    transform: translateY(0); /* 시작 위치 */
  }
  100% {
    transform: translateY(calc(-100% + 200px)); /* mockup 높이 제외한 만큼 위로 이동 */
  }
}
.mb-br{display: block;}
.menu-wrap {position: absolute; top: 50%; right: 30px; transform: translateY(-50%); display: flex;}
}
  
  



